.button{
    background-color: $button-bg;
    border: none;
    color: $button-color;
    cursor: pointer;
    line-height: 1.2;
    font-size: $base-font-size;
    margin-bottom: $space;
    padding: $input-spacing ;
    text-transform: uppercase;
}

.button--link{
    display: inline-block;
    text-decoration: none;
}

.button--pill{
    background-color: transparent;
    border: 1px solid $button-pill-color;
    color: $button-pill-color;
    padding: .3rem 0.8rem;
    margin: 0 ($space / 2) 0 0;
}

.button--secondary{
    background: $button-secondary-bg;
    color: $button-secondary-color;
    border: solid 1px $button-secondary-border-color;
}

.button--link-text{
    text-decoration: underline;
    text-transform: initial;
    margin: 0;
    padding: 0;
}